:root {
    --header-height: 80px;
    --background-color: #FCFCFC;
    --text-color: #4D4D4D;
}

body, html, h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Header */
.kss-header {
    background-color: var(--background-color);
    width: 100%;
    max-height: var(--header-height);
}
.kss-header-row {
    min-height: var(--header-height);
    margin-right: var(--header-margin-sides);

}
.kss-header-row img {
    padding: var(--header-margin-roof-ceil);
}

/* Content */
.kss-content {
    min-height: 95%;
    max-width: 1024px;
}
.kss-card-title h2 {
    padding: 24px 0;
    font-size: 32px;
}
.kss-card-text h3 {
    padding: 16px 0;
    font-size: 24px;
}
.kss-card-wide {
    width: 100%;
    min-height: 130px;
    padding-bottom: 32px;
    background-color: var(--background-color);
}
.kss-card-service-title {
    height: 200px;
    opacity: 0.6;
}
.kss-card-create {
    background: url('../img/create.png') center / cover;
}
.kss-card-grow {
    background: url('../img/grow.png') center / cover;
}
.kss-card-mentor {
    background: url('../img/mentor.png') center / cover;
}
/* Form */
input[type="email"],
textarea {
    font: inherit;
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid rgba(215,215,215,.1);
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"] {
    font-weight: 600;
    color:rgba(20, 20, 20, 0.7);
    background-color: rgba(215,215,215,.3);
    border-radius: 4px;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid rgba(215,215,215,.1);
    cursor: pointer;
}
textarea {
    resize: none;
}

/* Footer */
.kss-footer {
    padding: 32px;
}

.kss-link-list {
    margin-bottom: 16px;
}

.kss-social {
    padding: 16px 0 16px 0;
}
.kss-social-i {
    color: var(--background-color);
    padding-right: 32px;
    margin-bottom: 24px;
}