/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */

body, html {
    background-color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
}
.kss-wrapper {
    padding: 16px;
}
.kss-container {
    margin: 0 auto;
    max-width: 1024px;
    opacity: 0.8;
}

/* HEADER */
.kss-header {
    padding-bottom: 16px;
}
.kss-header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0.9;
}
.kss-description {
    padding: 16px 0;
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
}
.kss-banner {
    position: relative;
    padding: 24px 0;
}
.kss-banner img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.kss-banner span {
    position: absolute;
    bottom: 34px;
    left: 8px;
    opacity: 0.9;
    background-color: rgba(252, 252, 252, 0.8);
    padding: 4px;
    margin-right: 6px;
}
.kss-chips {
    padding: 32px 0;
}
.chip {
    display: inline-block;
    background: #7D7D7D;
    color: #FCFCFC;
    padding: 6px;
    margin: 1px;
    border-radius: 32px;
    font-size: 16px;
}
.chip:hover {
     background-color: #333;
}


/* FORM */
.kss-contact {
    padding: 16px;
    text-align: center;
}
.kss-contact h2 {
    font-size: 32px;
    margin: 0 auto;
    padding: 8px 0;
}
input[type="email"],
textarea {
    font: inherit;
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid rgba(215,215,215,.1);
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"] {
    font-weight: 600;
    color:rgba(20, 20, 20, 0.7);
    background-color: rgba(215,215,215,.3);
    border-radius: 4px;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid rgba(215,215,215,.1);
    cursor: pointer;
}
textarea {
    resize: none;
}

/* FOOTER */
.kss-footer {
    padding: 24px 0;
}
.copyright {
    margin: 0 auto;
    text-align: center;
}
.kss-social {
    padding-bottom: 24px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.kss-social a {
    color: #5D5D5D;
    padding: 0 20px;
}